//Variables
$borderColor: #b9b9b9;

.heading1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.container-fluid {
    border: 2px solid white;
}

.row {
    border: 4px solid white;
    background-color: white;
}

.left, .center {
    border-right: 2px solid $borderColor;
}


.col-4 {
    text-align: center;
}

#logo {
    height: 236px;
    width: 300px;
}

.jb {
    height: 434px;
    width: 300px;
}

td {
    padding: 3px;
}

th, td {
    border: solid black;
}